<h1>The Tech Blog</h1>

<div class="card">
  <h4 class="card-header">
    <div>{{posts.title}}</div>
    <div class="detail-font">Posted by {{posts.user.username}} on {{format_date posts.date_created}}</div>

  </h4>
  <div class="card-body">
    <p class="card-text">{{posts.content}}</p>
  </div>

</div>
{{#if posts.comments.length}}
{{#each posts.comments as |comment|}}
<div class="card">
  <h6 class="card-header">Comment</h6>
  <div class="card-body">
    <p class="card-text">{{comment.content}}</p>
    <p class="card-text">-{{comment.user.username}}, {{format_date comment.date_created}}</p>
  </div>
</div>
{{/each}}
{{/if}}

<form class="px-4 py-3 new-comment">
  <div class="form-group">
    <label>Leave a Comment:</label>
  </div>
  <div class="form-group">
    <label for="comment-content">Content:</label>
    <input type="text" class="form-control" id="comment-content" value="">
  </div>
  <input type="hidden" value="{{posts.id}}" id="post-id">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="/js/comment.js"></script>